@model TacheyDashboard.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitlePageImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitlePageImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketingImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketingImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Effect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Effect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursePerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursePerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreOrderPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreOrderPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMinTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMinTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LecturerIdentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LecturerIdentity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryDetailsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDetailsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateVerify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateVerify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviewVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviewVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainClick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainClick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomClick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomClick)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit">Edit</a> |
    <a asp-action="Product">Back to List</a>
</div>
